{{extend 'layout.html'}}
<a class="btn btn-default" id="create">create</a>

<br/>
<div style="display:none" id="controller"></div>
<div style="display:none" id="database"></div>
<script type="text/javascript">
	$("#controller").html("{{=args[0]}}");
	$("#database").html("{{=args[1]}}");
</script>
<div id="records">
{{=records}}
</div>
<hr class="divider">
{{=form}}


<script type="text/javascript">
$(document).ready(function(d){
	//Clean up table headers
	$("th").each(function(i,th){
		$(this).html($(this).html().split(".")[1]);
	});

	//Check all checkboxes
	var checkboxes = $( ':checkbox' );

    // Check all checkboxes
    checkboxes.prop( 'checked', true );

    //Loop through all table rows and add/update buttons

    $("#records table tbody tr").each(function(){
    	$(this).children("td").each(function(i,th){
    		if(i==0){
    			console.log(i, $(this).html());
    			//Found ID
    			$(this).prepend('<a href="/inventory/default/crud/update/'+$("#database").html()+'/'+$(this).html()+'" style="margin-right:10px", class="btn btn-default">Edit</a>')
    			$(this).prepend('<a style="margin-right:10px", class="btn btn-default">Delete</a>')
    		}
    	})
    })

})

</script>
